./native/cmake-build-debug

./backend/dist/
./backend/tmp/
./backend/app/**/*.js
./backend/app/**/*.js.map
./backend/node_modules/
./backend/bower_components/
./backend/.idea/
./backend/.sass-cache/
./backend/connect.lock/
./backend/coverage/
./backend/libpeerconnection.log/
./backend/npm-debug.log
./backend/testem.log
./backend/typings/
./backend/e2e/*.js
./backend/e2e/*.map
./backend/.DS_Store/
./backend/.idea/**/workspace.xml
./backend/.idea/**/tasks.xml
./backend/.idea/**/usage.statistics.xml
./backend/.idea/**/dictionaries
./backend/.idea/**/shelf
./backend/.idea/**/aws.xml
./backend/.idea/**/contentModel.xml
./backend/.idea/**/dataSources/
./backend/.idea/**/dataSources.ids
./backend/.idea/**/dataSources.local.xml
./backend/.idea/**/sqlDataSources.xml
./backend/.idea/**/dynamic.xml
./backend/.idea/**/uiDesigner.xml
./backend/.idea/**/dbnavigator.xml
./backend/.idea/**/gradle.xml
./backend/.idea/**/libraries
./backend/cmake-build-*/
./backend/.idea/**/mongoSettings.xml
./backend/*.iws
./backend/out/
./backend/.idea_modules/
./backend/atlassian-ide-plugin.xml
./backend/.idea/replstate.xml
./backend/com_crashlytics_export_strings.xml
./backend/crashlytics.properties
./backend/crashlytics-build.properties
./backend/fabric.properties
./backend/.idea/httpRequests
./backend/.idea/caches/build_file_checksums.ser
./backend/*.iml
./backend/modules.xml
./backend/.idea/misc.xml
./backend/*.ipr
./backend/.idea/sonarlint
./backend/*.class
./backend/*.log
./backend/*.ctxt
./backend/.mtj.tmp/
./backend/*.jar
./backend/*.war
./backend/*.nar
./backend/*.ear
./backend/*.zip
./backend/*.tar.gz
./backend/*.rar
./backend/hs_err_pid*
./backend/target/
./backend/pom.xml.tag
./backend/pom.xml.releaseBackup
./backend/pom.xml.versionsBackup
./backend/pom.xml.next
./backend/release.properties
./backend/dependency-reduced-pom.xml
./backend/buildNumber.properties
./backend/.mvn/timing.properties
./backend/.mvn/wrapper/maven-wrapper.jar
./backend/.project
./backend/.classpath

./frontend/dist/
./frontend/tmp/
./frontend/app/**/*.js
./frontend/app/**/*.js.map
./frontend/node_modules/
./frontend/bower_components/
./frontend/.idea/
./frontend/.sass-cache/
./frontend/connect.lock/
./frontend/coverage/
./frontend/libpeerconnection.log/
./frontend/npm-debug.log
./frontend/testem.log
./frontend/typings/
./frontend/e2e/*.js
./frontend/e2e/*.map
./frontend/.DS_Store/
./frontend/.idea/**/workspace.xml
./frontend/.idea/**/tasks.xml
./frontend/.idea/**/usage.statistics.xml
./frontend/.idea/**/dictionaries
./frontend/.idea/**/shelf
./frontend/.idea/**/aws.xml
./frontend/.idea/**/contentModel.xml
./frontend/.idea/**/dataSources/
./frontend/.idea/**/dataSources.ids
./frontend/.idea/**/dataSources.local.xml
./frontend/.idea/**/sqlDataSources.xml
./frontend/.idea/**/dynamic.xml
./frontend/.idea/**/uiDesigner.xml
./frontend/.idea/**/dbnavigator.xml
./frontend/.idea/**/gradle.xml
./frontend/.idea/**/libraries
./frontend/cmake-build-*/
./frontend/.idea/**/mongoSettings.xml
./frontend/*.iws
./frontend/out/
./frontend/.idea_modules/
./frontend/atlassian-ide-plugin.xml
./frontend/.idea/replstate.xml
./frontend/com_crashlytics_export_strings.xml
./frontend/crashlytics.properties
./frontend/crashlytics-build.properties
./frontend/fabric.properties
./frontend/.idea/httpRequests
./frontend/.idea/caches/build_file_checksums.ser
./frontend/*.iml
./frontend/modules.xml
./frontend/.idea/misc.xml
./frontend/*.ipr
./frontend/.idea/sonarlint
./frontend/*.class
./frontend/*.log
./frontend/*.ctxt
./frontend/.mtj.tmp/
./frontend/*.jar
./frontend/*.war
./frontend/*.nar
./frontend/*.ear
./frontend/*.zip
./frontend/*.tar.gz
./frontend/*.rar
./frontend/hs_err_pid*
./frontend/target/
./frontend/pom.xml.tag
./frontend/pom.xml.releaseBackup
./frontend/pom.xml.versionsBackup
./frontend/pom.xml.next
./frontend/release.properties
./frontend/dependency-reduced-pom.xml
./frontend/buildNumber.properties
./frontend/.mvn/timing.properties
./frontend/.mvn/wrapper/maven-wrapper.jar
./frontend/.project
./frontend/.classpath
/.idea/
