<h2>Login</h2>
<form (ngSubmit)="login()" [formGroup]="loginForm">
  <div class="form-group">
    <label for="username">Username</label>
    <input [ngClass]="{ 'is-invalid': submitted && f.username.errors }" class="form-control" formControlName="username" id="username"
           type="text"/>
    <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
      <div *ngIf="f.username.errors.required">Username is required</div>
    </div>
  </div>
  <div class="form-group">
    <label for="password">Password</label>
    <input [ngClass]="{ 'is-invalid': submitted && f.password.errors }" class="form-control" formControlName="password" id="password"
           type="password"/>
    <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
      <div *ngIf="f.password.errors.required">Password is required</div>
    </div>
  </div>
  <div class="form-group">
    <button (click)="login()" [disabled]="loading" class="btn btn-primary">
      <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
      Login
    </button>
    <button (click)="register()" [disabled]="registerLoading || loading" class="btn btn-secondary">
      <span *ngIf="registerLoading" class="spinner-border spinner-border-sm mr-1"></span>
      Register
    </button>
  </div>
</form>

<!--  Zoli things -->
    <div>
      <mat-card>
        <mat-card-content>
          <form> <!--[formGroup]="form" (ngSubmit)="onSubmit()"-->
            <h2>Login</h2>
            <mat-error> <!-- *ngIf="loginInvalid"-->
              The username and password were not recognized
            </mat-error>
            <mat-form-field class="full-width-input">
              <input matInput placeholder="Username" formControlName="username" required>
              <mat-error>
                Please provide a registered username
              </mat-error>
            </mat-form-field>
            <mat-form-field class="full-width-input">
              <input matInput type="password" placeholder="Password" formControlName="password" required>
              <mat-error>
                Please provide a valid password
              </mat-error>
            </mat-form-field>
            <button style="margin-right:2.5em" mat-raised-button color="primary">Login</button>
            <button mat-raised-button color="primary">Register</button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>

<!--Profile-->
<div>
  <h2>Profile settings</h2>
  <p>You can set your new password here.</p>
  <mat-form-field style="width:15vw; margin-left:2.5em" class="full-width-input">
    <input matInput type="password" placeholder="New password" formControlName="password" required>
    <mat-error>
      Please provide a valid password
    </mat-error>
  </mat-form-field>
  <button style="margin-left:2.5em" mat-raised-button color="primary">Change password</button>
</div>
