<div *ngIf="bmp == null">Loading...</div>

<h2>Caff page</h2>
<p>You can look at the CAFF file, download it or comment on it.</p>

<div class="row" *ngIf="bmp != null">
  <div class="column">
    <img [src]="image" alt="image: {{bmp.name}}" style="width:35vw">
  </div>
  <div class="column">
    <h2>Name: {{bmp.name}}</h2>
    <a style="margin: 1em" mat-raised-button color="primary" download="{{bmp.id}}.bmp" [href]="image">Download image</a>
    <a style="margin: 1em" mat-raised-button color="primary" download="{{bmp.id}}.caff" [href]="caff">Download caff</a>
    <p>Comments:</p>
    <mat-list role="list">
      <mat-list-item role="listitem" *ngFor="let comment of bmp.comment">{{comment.nameOfUser}}: {{comment.content}}</mat-list-item>
    </mat-list>
    <span *ngIf="bmp == null">Loading comments...</span>
    <form (ngSubmit)="comment()" [formGroup]="commentForm">
      <mat-form-field style="width:25vw" class="full-width-input">
        <input matInput placeholder="Add your comment here" formControlName="comment" [ngModel]="commentForm.value.comment" required>
        <mat-error *ngIf="f.comment.errors?.required">
          Comment is required
        </mat-error>
        <mat-error *ngIf="error.message">
          {{error.message}}
        </mat-error>
      </mat-form-field>
      <button mat-raised-button color="primary" (click)="comment()">Submit</button>
    </form>
  </div>
</div>
